{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        figure {
            width: 27%; /* Ширина */
            float: left; /* Выстраиваем элементы по горизонтали */
            margin: 0 0 0 3.5%; /* Отступ слева */
            background: #f0f0f0; /* Цвет фона */
            border-radius: 5px; /* Радиус скругления */
            padding: 2%; /* Поля */
        }

        figure:first-child {
            margin-left: 0; /* Убираем отступ для первого элемента */
        }
    </style>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">To Crop</button>
</form>

{% if format %}
    <div>
        <figure>
            <img src="{% static 'crop/img/defolt.' %}{{ format }}" width="100%">
        </figure>
        <figure>
            <img src="{% static 'crop/img/crop.' %}{{ format }}" width="100%">
        </figure>
    </div>
{% endif %}

</body>
</html>